(1) Creating a .CSV file and (2) comparing the arrival delays for the
two airlines.

In [2]:
import pandas as pd
import os

In [4]:
data

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
0   Alaska  on time          497      221        212            503     1841
1   Alaska  delayed           62       12         20            102      305
2  AM West  on time          694     4840        383            320      201
3  AM West  delayed          117      415         65            129       61

In [3]:
data = pd.read_csv('project1.csv')

#Calculating avg delays per airline

In [5]:
avg_delays = (airline_data[airline_data['Status'] == 'delayed'].head())

avg_delays

   Airline   Status  Los Angeles  Phoenix  San Diego  San Francisco  Seattle
1   Alaska  delayed           62       12         20            102      305
3  AM West  delayed          117      415         65            129       61

#Group by airline and status and compare the average delayed and on time flights from both airlines.

In [13]:
data.groupby(['Airline', 'Status']).mean()

                 Los Angeles  Phoenix  San Diego  San Francisco  Seattle
Airline Status
AM West delayed        117.0    415.0       65.0          129.0     61.0
        on time        694.0   4840.0      383.0          320.0    201.0
Alaska  delayed         62.0     12.0       20.0          102.0    305.0
        on time        497.0    221.0      212.0          503.0   1841.0

In [19]:
data.groupby(['Airline','Status']).plot()

Airline  Status
AM West  delayed    AxesSubplot(0.125,0.11;0.775x0.77)
         on time    AxesSubplot(0.125,0.11;0.775x0.77)
Alaska   delayed    AxesSubplot(0.125,0.11;0.775x0.77)
         on time    AxesSubplot(0.125,0.11;0.775x0.77)
dtype: object

#Conclusion:
The output of the code written based on the data from a csv file shows that the airline AM WEST had more delays at every location except for Seattle, where ALASKA airline had more delays. The third table is one that shows the mean delays by location, where Phoenix had the most delays and San Diego had the lowest.